<ion-header>
  <ion-toolbar class="air-selangor-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center" style="font-weight: bold;">
      Attach Picture
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h3 style="color: black; font-weight: bold;">Before</h3>
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center" style="position: relative">
      <ion-button shape="round" style="position: absolute; top: 0px; right: 0px">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <div>
          <ion-img src="assets/image/no-image.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    
  </ion-grid>

  <div class="ion-text-center">
    <h3 style="color: black; font-weight: bold;">After</h3>
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center" style="position: relative">
      <ion-button shape="round" style="position: absolute; top: 0px; right: 0px">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <div>
          <ion-img src="assets/image/no-image.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center">
    <ion-button>Submit</ion-button>
  </div>
</ion-content>
