<ion-header>
  <ion-toolbar class="air-selangor-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Self Assesment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-vertical-stepper linear="false" #stepper>
    <mat-step label="A">
      <ion-grid>
        <ion-row>
          <ion-col size="4">Planning</ion-col>
          <ion-col class="ion-text-center">1</ion-col>
          <ion-col class="ion-text-center">2</ion-col>
          <ion-col class="ion-text-center">3</ion-col>
          <ion-col class="ion-text-center">4</ion-col>
          <ion-col class="ion-text-center">5</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">Systematically plans for instruction</ion-col>
          <ion-col><ion-radio value="1"></ion-radio></ion-col>
          <ion-col><ion-radio value="2"></ion-radio></ion-col>
          <ion-col><ion-radio value="3"></ion-radio></ion-col>
          <ion-col><ion-radio value="4"></ion-radio></ion-col>
          <ion-col><ion-radio value="5"></ion-radio></ion-col>
        </ion-row>
      </ion-grid>
      <ion-item class="nopaddingstart">
        <ion-label position="stacked">Other Comments</ion-label>
        <ion-textarea rows="3"></ion-textarea>
      </ion-item>
    </mat-step>

    <mat-step label="B"> </mat-step>
    <mat-step label="C"> </mat-step>
  </mat-vertical-stepper>

  <div class="ion-text-center">
    <ion-button>Submit</ion-button>
  </div>
</ion-content>
