<ion-content>
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 130%">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">LOGIN</ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="line-input">
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input [(ngModel)]="loginForm.username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" [(ngModel)]="loginForm.password"></ion-input>
            </ion-item>

            <ion-grid>
              <ion-row class="ion-justify-content-end">
                <ion-col>
                  <div class="ion-text-center">
                    <ion-button (click)="login()" [disabled]="!loginForm.username && !loginForm.password">Sign In</ion-button><!--[routerLink]="['/tabs']"-->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
