<ion-header>
  <ion-toolbar class="air-selangor-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asset Reading</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h6>Update Operational Reading of Asset</h6>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-list class="line-input">
        <!-- <ion-item>
          <ion-label position="stacked">Type of asset</ion-label>
          <ion-input type="text" value="pump"></ion-input>
        </ion-item> -->

        <ion-item>
          <ion-label position="stacked">Running hours</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Pressure reading</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Flow rate</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
